<header>
    <div class="container">
        <nav>
        <ul>
            <li><a routerLink='/'>Department List</a></li>
            <li><a routerLink='/add'>Add Department</a></li>
        </ul>
    </nav>
    </div>
</header>
<br><br><br><br><br><br>

<div class="container" >
    
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Department Id</th>
                <th>Name</th>
                <th>GroupName</th>
                <th>ModifiedDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of dlist; let i=index;" >
                <td style="text-align: center">{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.groupName}}</td>
                <td>{{x.date | date:'dd-MM-yyyy'}}</td>
                
                <td><input type="button" name="edit" id="edit" value="Edit" (click)="update(i)"></td>
                <td><input type="button" name="delte" id="delete" value="Delete" (click)='delete(i)'></td>
            </tr>
        </tbody>
    </table>    
</div>

<div class="container" *ngIf="flag">
    <form #updateForm='ngForm' (ngSubmit)='done()' style="border: 0.5px solid black; width: 400px; height:400px; margin-bottom: 10px;padding: 30px;">
        <label for="id">Id</label><br>
        <input [(ngModel)]='d.id' type="number" id="id" name='id'><br><br>
        <label for="name">Name</label><br>
        <input [(ngModel)]='d.name'type="text" id="name" name='name'><br><br>
        <label for="name">GroupName</label><br>
        <input [(ngModel)]='d.groupName'type="text" id="groupName" name='groupName'><br><br><br>
        <input type="submit" value="Update" >            
    </form>
</div>
